@model CSerco.Web.Models.CarteraVM
@{
    ViewBag.Title = "C Ser-Co - Principal";
    Layout = "~/Views/Shared/_SysLayout.cshtml";
}
<br />
<center><h1>Clientes en Cartera.</h1></center>
<br />
<div class="row">
    <table class="table table-hover table-striped">
        <thead>
            <tr style="background-color: #008648">
                <th>Codigo de Credito:</th>
                <th>Nombre Completo:</th>
                <th>Saldo:</th>
                <th>Monto Moroso:</th>
                <th>Interés Vencido:</th>
                <th>Dias Mora:</th>
                <th>Direccion:</th>
                <th>REES:</th>
                <th>OID</th>
                <th>Telefono:</th>
                <th>Correo:</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartLst)
            {
                <tr id="tr_@item.IdCartera">
                    <td>@item.NCredito</td>
                    <td>@item.Nombre</td>
                    <td>@item.SaldoK</td>
                    <td>@item.MontVen</td>
                    <td>@item.InteresVen</td>
                    <td>@item.DiasMora</td>
                    <td>@item.Direccion</td>
                    <td>@item.Reestructuracion</td>
                    <td>@item.OID</td>
                    <td>@item.Telefono</td>
                    <td>@item.Correo</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row">
        <div class="col-sm-4 col-lg-4 col-md-4"></div>
        <div class="col-sm-4 col-lg-4 col-md-4"></div>
        <div class="col-sm-4 col-lg-4 col-md-4">
            @{Html.RenderPartial("_Pager", Model);}
        </div>
    </div>
</div>