@using CSerco.Web.Models;
@model CSerco.Web.Models.CarteraVM
@{
    ViewBag.Title = "C Ser-Co - Principal";
    Layout = "~/Views/Shared/_SysLayout.cshtml";
}
<br />
<center><h1>Cartera Asignada de clientes.</h1></center>
<br />
<div class="row">
    <table class="table table-hover table-striped text-center">
        <thead>
            <tr style="background-color: #008648">
                <th>Codigo de Credito:</th>
                <th>Nombre Completo:</th>
                <th>Saldo:</th>
                <th>Ver Detalle</th>
                <th>Agregar Gestión</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartLst)
            {
            <tr id="tr_@item.IdCartera">
                <td>@item.NCredito</td>
                <td>@item.Nombre</td>
                <td>$@item.SaldoK</td>
                <td>
                    <button class="btn btn-info btnDetails" data-codigo="@item.IdCartera" data-target="#staticBackdrop"><i class="bi bi-file-earmark-text-fill"></i></button>
                </td>
                <td>
                    <button class="btn btn-success" onclick="@Url.Action("Home", "RegisterClient")?CodP=@item.NCredito"><i class="bi bi-person-plus-fill"></i></button>
                </td>
            </tr>
            }
        </tbody>
    </table>

    <div class="row">
        <div class="col-sm-4 col-lg-4 col-md-4">Total de Registros : @Model.TotalReg</div>
        <div class="col-sm-4 col-lg-4 col-md-4"></div>
        <div class="col-sm-4 col-lg-4 col-md-4">
            @{Html.RenderPartial("_Pager", Model);}
        </div>
    </div>
</div>


<div class="modal fade" id="staticBackdrop" data-url="@Url.Action("GetDeatilsModal", "Home")" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="true">
    @{
        Html.RenderPartial("~/Views/Home/_PartialDetalleCartera.cshtml", new CarteraVM());
    }
</div>

<input type="hidden" id="urlDetailsModal" value="@Url.Action("GetDeatilsModal", "Home")" />

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $('.btnDetails').on('click', function (e) {
                e.preventDefault;
                var codigo = $(this).data('codigo');
                var url = $('#urlDetailsModal').val();
                $.ajax({
                    type: "post",
                    url: url,
                    dataType: "json",
                    data: { id: codigo },
                    success: function (res) {
                        $('#staticBackdrop').html(res.partial);
                        $('#staticBackdrop').modal("show");
                    }
                })
            })
        })

        $(document).on('click', '.CerrarModal', function (e) {
            $('#staticBackdrop').modal('hide')
        })

        $(document).on('click', '.close', function (e) {
            $('#staticBackdrop').modal('hide')
        })
    </script>
    }